{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    
    <div class="container text-center">
        <h1>Liste des événements</h1>
        
        {# Afficher les messages de succès #}
        {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}

        {# Afficher les messages d'erreur #}
        {% for flash_message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ flash_message }}
            </div>
        {% endfor %}
{# Formulaire de recherche #}
        <form method="get" action="{{ path('eventuser_getall') }}">
            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control" name="search_nom" placeholder="Nom de l'événement">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="search_lieu" placeholder="Lieu">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </form>
        <div class="mx-auto" style="width: 70%;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nom de l'événement</th>
                        <th scope="col">Date de l'événement</th>
                        <th scope="col">Lieu</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr class="table-active">
                            <td>{{ event.nom }}</td>
                            <td>{{ event.date|date('d-m-Y') }}</td>
                            <td>{{ event.lieu }}</td>
                            <td>{{ event.description }}</td>
                            <td><img src="{{ asset(event.image) }}" class="custom-block-image img-fluid" alt=""></td>
                            <td>{{ event.prix }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="{{ path('event_update', {'id': event.id}) }}" class="btn btn-primary">Edit</a>
                                    <span style="margin-right: 10px;"></span>
                                    <a href="{{ path('event_delete', {'id': event.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet événement?')">Delete</a>
                                    <span style="margin-right: 10px;"></span>
                                    <a href="{{ path('resv_affiche', {'id': event.id}) }}" class="btn btn-danger">Reserver</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
